#search-container{
    min-width:300px;
}

.search{
  color:black;
  height: 70px;
  max-height: 30px;
  font-size: 1.5em;
  max-width: 30%;
  min-width: 200px;
}

.avatar{
  margin-bottom: 7px;
}

.searchButton{
  background-color: #CA1740;
  color: #fff;
  margin-top:20px;
}

.image-container{
  width: 300px;
  min-height: 100px;
  max-width: 300px;
  margin: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  overflow: hidden;
  float:left;
}

.results{
  padding: 8px;
  margin-bottom: 12px;
}
.kartica{
  min-width: 100px;
}